[submodule "app/client/libraries/jquery"]
	path = app/client/libraries/jquery
	url = git://github.com/jquery/jquery.git
[submodule "app/client/libraries/bootstrap"]
	path = app/client/libraries/bootstrap
	url = https://github.com/twbs/bootstrap.git
